<div class="container mx-auto px-4 py-8">
  <div class="max-w-2xl mx-auto">
    <div class="card">
      <header>
        <h2>Resend confirmation instructions</h2>
        <p>Enter your email address to receive confirmation instructions.</p>
      </header>
      <section class="space-y-4">
        <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post, class: "grid gap-6" }) do |f| %>
          <%= render "devise/shared/error_messages", resource: resource %>

          <div class="grid gap-3">
            <%= f.label :email, class: "label" %>
            <%= f.email_field :email, autofocus: true, autocomplete: "email", value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email), class: "input" %>
          </div>

          <div class="grid gap-3">
            <%= f.submit "Resend confirmation instructions", class: "btn" %>
          </div>
        <% end %>
      </section>
    </div>
    <div class="mt-6">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
